<main class="bg-mercury  bg-opacity-30 backdrop-blur-sm hover:drop-shadow-lg h-[15.5rem] w-[40%] rounded-[.625rem] flex justify-center items-center flex-col p-2 gap-y-6">
  <h2 class="text-cello font-bold text-[2.125rem]">COUNTER</h2>
  <section class="flex gap-7 px-6 w-[7rem] items-center justify-center border border-cello">
    <button title="reset" class="hover:animate-spin" (click)="reset()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 stroke-cello">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
      </svg>
    </button>
    <div  title="count"  class=" text-center">
      <p class="font-medium text-[2.25rem] text-center text-cello">
        {{ count }}
      </p>
    </div>
  </section>
  <section class="flex gap-10 *:rounded-[.625rem] *:font-medium *:p-2">
    <app-button [buttonTitle]="'increase'" [buttonName]="'+ INCREASE'"
    [buttonEvent]="increment.bind(this)" [customClass]="'bg-wellread '"/>
    <app-button [buttonTitle]="'decrease'" [buttonName]="'- DECREASE'"
    [buttonEvent]="decrement.bind(this)" [customClass]="'bg-pavlova '"/>
  </section>
</main>
